<table>
    <tr>
        <th>Identifiant</th>
        <th>Version</th>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Externe</th>
        <th>Expérience</th>
    </tr>
    <tr>
        <td>{{formateur.id}}</td>
        <td>{{formateur.version}}</td>
        <td>{{formateur.civilite}}</td>
        <td>{{formateur.nom}}</td>
        <td>{{formateur.prenom}}</td>
        <td>{{formateur.email}}</td>
        <td>{{formateur.externe}}</td>
        <td>{{formateur.experience}}</td>
    </tr>
</table>
